.container .card {
    display: flex;
    width: 100%;
    max-width: 600px; /* ปรับขนาดของแต่ละข่าว */
    margin-bottom: 20px;
}

.container .card .imgBx {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* เพิ่ม position: relative; เพื่อให้สามารถใช้ absolute positioning ได้ */
}

.container .card .contentBx {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* จัดให้ข้อมูลอยู่กึ่งกลาง */
}

.container .card .contentBx h2 {
    color: #0575E6;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 2px;
    margin-bottom: 10px;
    text-align: center; /* จัดให้ข้อความอยู่กึ่งกลาง */
}

.container .card .contentBx p {
    color: #3a9bdc;
    text-align: center; /* จัดให้ข้อความอยู่กึ่งกลาง */
}

.container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 40px;
    color: #3a9bdc;
    font-size: 16px;
    text-decoration: none;
    box-shadow: -4px -4px 15px rgba(255,255,255,1),4px 4px 15px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.container .card .contentBx a:hover {
    box-shadow: inset -4px -4px 10px rgba(255,255,255,0.5),inset 4px 4px 10px rgba(0,0,0,0.1);
}

.container .card .contentBx h2,
.container .card .contentBx p,
.container .card .contentBx a {
    position: relative;
    z-index: 1; /* ให้ข้อความอยู่ในระดับที่สูงกว่ารูปภาพ */
}

.container .card .imgBx img {
    max-width: 100%;
    border-radius: 10px; /* ปรับมุมของรูปภาพ */
    position: absolute; /* ให้รูปภาพอยู่ในตำแหน่ง absolute */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; /* จัดให้รูปภาพอยู่ตรงกลาง */
    z-index: 0;
}
