* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans Thai', sans-serif;
  box-sizing: border-box;
}

.containner {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(9, 0, 77, 0.65), rgba(9, 0, 77, 0.65)), url(../image/background.png);
  background-size: cover;
  background-position: center;
  /* border-bottom-left-radius: 25% ;
 border-bottom-right-radius: 25%;  */
  padding: 10px 8%;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  width: 180px;
  cursor: pointer;
}

nav ul {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 60px;
}

nav ul li {
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.btn_nav_log {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 80px;
  background: #ffffff;
  color: #000000;
  font-weight: 500;
  cursor: pointer;
  margin-right: 10px;
}

.btn_nav_sing {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  border-radius: 80px;
  background: rgba(255, 255, 255, 0.30);
  color: #ffffff;
  font-weight: 500;
  cursor: pointer;

}

.content {
  margin-top: 14%;
  color: #fff;
  max-width: 620px;
}

.content h1 {
  font-size: 70px;
  font-weight: 600;
  line-height: 85px;
  margin-bottom: 25px;
}

.fa-newspaper-o {
  position: static;
}

.fa-university {
  position: absolute;
  right: 30%;
}

/* cards */

#newstitle {
  margin-top: 2rem;
  text-align: center;
}

#newstitle h1 {
  font-weight: 700;
  font-size: 36px;
}

#newstitle p {
  color: #696984;
  font-weight: 400;
  font-size: 24px;
}

#newscard {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  /* width: 100rem; */
  height: 30rem;
  /* border: 1px solid red; */
}

#newscard .card {
  margin: 2rem 5rem 5rem 5rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  text-align: center;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 10px 60px 0px rgba(38, 45, 118, 0.08);
  border-style: none;
  /* border: 1px solid red; */

}

#newscard .card:hover {
  transform: scale(1.1, 1.1);
  transition: all 0.5s ease-out;
}
#newscard .card .icon {
  width: 5rem ;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5B72EE;
  border-radius: 100%;
  /* border: 1px solid red; */
}


#newscard .card .card-body {
  margin-top: 1rem;
}

#newscard .card .card-body h5 {
  color: #2F327D;
  margin-bottom: 1rem;
}

#newscard .card .card-body p {
  color: #696984;
}